<h1 class='text-center' style='border:2px solid; background-color:red; color:White;'><em>Biker's Trip</em></h1>
<div class='row-fluid'>

	<%= render 'layouts/menubar' %>

	<div class='span3' style='margin-top:400px; margin-left:850px;'>
		<%= link_to 'Explore Route', new_route_path, class:"btn btn-large btn-block btn-primary" %>
	</div>
</div>


<h6 style='margin-left:900px; color:White'><strong>TAP ABOVE TO EXPLORE !</strong></h6>
<h6 style='color:White'><em>Biker's Trip</em></h6>