
	<%= render 'layouts/menubar' %>

	<div class='span3 explore '>
		<%= link_to 'Explore Route', new_route_path, class:"btn btn-large btn-block btn-primary" %>

		<h6 class='white explore-text'><strong>TAP ABOVE TO EXPLORE !</strong></h6>
			
	</div>
<h6 class='white' style='margin-right:700px;'><em>Biker's Trip</em></h6>


