<h1 style='color:White;'>Search Friend By Name or ID :</h1>

<form class="form-search" style='margin-top:50px;'>
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn btn-success">Find Now!</button>
</form>

<div class='row'>
	<div class='span12' style='margin-left:990px; margin-top:400px;'>
		
			<%= link_to 'My Settings', settings_path, class:"btn btn-large btn" %>
	</div>
</div>


<h6 style='color:White; margin-top:20px;'><em>Biker's Trip</em></h6>
