<h1 class='white'>Search Friend By Name or ID :</h1>

<form class="form-search form">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn btn-success">Find Now!</button>
</form>

<div class='row'>
	<div class='span12'>
		<div class='back-my-settings'>
			<%= link_to '<< Back to My Settings', settings_path, class:"btn btn-large btn" %>
		</div>
	</div>
</div>


<h6 class='white logofind'><em>Biker's Trip</em></h6>
