<div class='row-fluid'>
	<div class='span-8'>
		<h1 class="text-center">
			<em>Biker's Trip</em>
		</hi>
</div>

		<p class="text-center" style='margin-top:120px'>
			ALREADY HAVE AN ACCOUNT?
		</p>

		<p class="text-center" style='margin-bottom:150px; '>
			<%= link_to 'LOG IN', new_user_session_path, class:"btn btn-large btn-success" %>
		</p>

		<p class="text-center" style='margin-top:120px'>
			JOIN BIKER'S TRIP TODAY
		</p>
		<p class="text-center" style="" >
			<%= link_to 'SIGN UP', new_user_registration_path, class:"btn btn-large btn-info" %>
		</p>
</div>