<h1 class='text-center' style='border:2px solid; background-color:red; color:White;'><em>Biker's Trip</em></h1>

<h1 style= 'color:White; margin-top:100px;'>New Route</h1>

<%= render 'form' %>

<%= link_to 'Cancel', main_index_path %>

<h6 style='color:White; margin-top:600px'><em>Biker's Trip</em></h6>