<h1 class='text-center' style='background-color:red; color:White;'><em>Biker's Trip</em></h1>

<center><p style='color:White;'>Biker's Trip is a free app that helps you and your friends make the most of where you are. When you're out and about, use Biker's Trip to share and save the places you visit. And, <br> when you're looking for inspiration for what to do next, we'll give you personalized recommendations and deals based on where you, your friends, and people with your tastes have been.

<br>Whether you're setting off on a trip around the world, coordinating from start location to finish location, trying to pick out the best place at some country, Biker's Trip is the perfect companion.</p></center>

<div class='row'>
	<div class='span12' style='margin-left:990px; margin-top:600px;'>
		
			<%= link_to 'My Settings', settings_path, class:"btn btn-large btn" %>
	</div>
</div>


<h6 style='color:White; margin-top:20px;'><em>Biker's Trip</em></h6>
