.welcome {
	color:White;
	margin-right: 10px;
}

.pojok-kanan {
	float: right;
}

.explore {
	margin-top:400px; margin-left:850px;
}

.explore-text {
	 margin-left:50px;
}

h6.welcome-text {
	margin-right:50px; float: right; color:White;
}

.transparent-welcome {
	background-color: white;
	opacity: 0.3;
	position: relative;
	height: 20px; width: 110px;
	border-radius: 20px;
	top: -30px;
}

.logo-margin {
	margin-right:700px;
}