body.settings {
	h1.settings {
		border:2px solid; background-color:red; color:White;
	}

	.about {
		margin-top:100px;
	}

	.find-friend {
		margin-top:50px;
	}

	.edit-profile {
		margin-top:50px;
	}

	.logosettings {
		color:White; margin-top:20px;
	}
}