h1.bikers-trip {
	background-color:red; color:White;
}

h1.text-center{
	text-align:center;
}

#error_explanation {
	h2 {
		color: #fff;
	}
	li {
		color:#fff;
	}
}

.white {
	color: white;
}

.transparent {
	background-color: white;
	opacity: 0.5;
	padding-bottom: 15px;
}

.back-my-settings {
	margin-top:100px; float: right; margin-right: 20px;
}

body {
	background-image:image-url('/assets/background5.jpg');
}
.nav-search-form {
	input[type='text'] {
		float: left;
	}
	button {
		float: left;
	}
	margin-top: 8px;
}

.clearer {
	clear:both;
}

.menubar-container {
	padding:0px 20px;
}

.back-to-user {
	margin-top:100px; float: right; margin-right: 20px;
}

.scroll {
	margin-top:-30px;
	height:200px;
	overflow-y:scroll;
}

.bold {
	font-weight: bold;
}

nav {
	width: 960px;
	height: 100px;
	margin: -35px auto;
	margin-bottom: 50px;
	text-align: center;
}

.gradient {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-dodger {
  -moz-box-shadow:    3px 3px 5px 6px #00B8E6;
  -webkit-box-shadow: 3px 3px 5px 6px #00B8E6;
  box-shadow:         3px 3px 5px 6px #00B8E6;
}

.sblue {
  -moz-box-shadow:    3px 3px 5px 6px #0052CC;
  -webkit-box-shadow: 3px 3px 5px 6px #0052CC;
  box-shadow:         3px 3px 5px 6px #0052CC;
}

.swhite {
  -moz-box-shadow:    3px 3px 5px 6px MintCream;
  -webkit-box-shadow: 3px 3px 5px 6px MintCream;
  box-shadow:         3px 3px 5px 6px MintCream;
}

