<div class='row-fluid'>
	<div class='span-8'>
		<h1 class='white gradient', style='margin-bottom:50px;'> List All Location</h1>

		<div class='scroll white bold'>
			<ul>
				<% @locations.each do |location| %>
				<li>
					<%= link_to location.name, location_path(location) %>
				</li>
			<% end %>
		</ul>
	</div>

<br/>
	<%= link_to 'Create Your Own Location Now!', new_location_path, class: 'btn btn-primary s-blue' %>
	</div>
</div>


<div class='row '>
			<div class='span12'>
				<div class='back-to-user'>
				
					<%= link_to '<< Back To User', user_path(current_user), class:"btn btn-large btn-success s-green" %>
					
			</div>
		</div>
	</div>




