<!DOCTYPE html>
<html>
<head>
  <title>Biker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style='background-color:#DCDCDC;'>
<div class='container' style='border:2px solid #000; padding: 10px 5px 10px 5px; margin-top:20px; margin-bottom:20px;'>
<%= yield %>

</body>
</html>
